<header>
    <a href="/index.html" class="logo">
        <span class="logo-symbol">&int;</span> &nbsp;SJMaths
    </a>

    <div class="search-wrapper">
        <div class="header-search">
            <button><i class="fas fa-search"></i></button>
            <label class="sr-only">Search</label>
            <input type="text" placeholder="Search for chapters, notes...">

        </div>
    </div>

    <nav>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/classes/class-9/index.html">Class 9</a></li>
            <li><a href="/classes/class-10/index.html">Class 10</a></li>
            <li><a href="/classes/class-11/index.html">Class 11</a></li>
            <li><a href="/classes/class-12/index.html">Class 12</a></li>
            <li><a href="/login.html" class="nav-btn" id="authBtn">Login</a></li>
        </ul>
    </nav>

    <div class="mobile-toggle"><i class="fas fa-bars"></i></div>
    <button id="darkToggle" class="nav-btn" style="padding:6px 12px;">
        <i class="fas fa-moon"></i>
    </button>

</header>